!!! 5
%html
  %head
    %link{:rel=>'stylesheet',:href=>'main.css',:type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Dynalight', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy', :rel=>'stylesheet', :type=>'text/css'}
    
    %title Cinemachievement
    :javascript
      (function() {
          if (typeof window.janrain !== 'object') window.janrain = {};
          window.janrain.settings = {};
          janrain.settings.tokenUrl = "#{request.scheme}://#{request.host_with_port}/signin";

          function isReady() { janrain.ready = true; };
          if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", isReady, false);
          } else {
            window.attachEvent('onload', isReady);
          }

          var e = document.createElement('script');
          e.type = 'text/javascript';
          e.id = 'janrainAuthWidget';

          if (document.location.protocol === 'https:') {
            e.src = 'https://rpxnow.com/js/lib/cinemachievement/engage.js';
          } else {
            e.src = 'http://widget-cdn.rpxnow.com/js/lib/cinemachievement/engage.js';
          }

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(e, s);
        })();
    :javascript
      var database_id = '#{database_id}';
      var movies_data = #{movies};
      var seen_films = #{seen_films};
      
    %script{:type => "text/javascript", :src  => "jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src  => "jquery.tmpl.min.js"}
    %script{:type => "text/javascript", :src  => "movies.js"}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28616406-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body
    #title
      Cinemachievement
    #login
      - if logged_in? 
        Hi #{current_user.name} &bull;
        %a{:href=>'/signout'}
          Sign Out
      - else 
        %a.janrainEngage{:href=>"\#" }
          Sign In
      &bull;
      
      - if database_id == '2013oscars'
        %a{:href=>'/2012oscars'}
          2012
      - else
        %a{:href=>'/'}
          2013

    %br{:clear=>'all'}
    #container
      #category
        Academy Award Nominees
      #left_col
        #oscar_container
          #oscars
          #oscarcount
            120/120
      #center_col
        %table#maintable
    %div{:style=>'height:36px'}
      %span#hidewatch.button
        Hide films I've seen
      %span#showwatch.button{:style=>'display:none'}
        Show films I've seen
    